{% extends "layouts/base.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="barba-container" data-namespace="tm-page">

        {# HP CAROUSEL #}

        {% set hp_carousel = post.get_field('hp_carousel') %}

        {% if hp_carousel|length > 0 %}

            {% set slides = [] %}

            {% for slide in hp_carousel %}

                {% set cta_label = slide.hp_carousel_slide_cta_label %}
                {% set cta_url = null %}
                {% set images = [] %}

                {% if slide.hp_carousel_slide_mobile_image %}
                    {% set images = images|merge([slide.hp_carousel_slide_mobile_image.url]) %}
                {% endif %}

                {% if slide.hp_carousel_slide_desktop_image %}
                    {% set images = images|merge([slide.hp_carousel_slide_desktop_image.url]) %}
                {% endif %}

                {% if slide.hp_carousel_slide_article %}
                    {% set cta_url = slide.hp_carousel_slide_article[0].link %}
                {% else %}
                    {% if slide.hp_carousel_slide_cta_link %}
                        {% set cta_url = slide.hp_carousel_slide_cta_link %}
                    {% endif %}
                {% endif %}

                {% set slides = slides|merge([{
                        title: slide.hp_carousel_slide_title,
                        text: slide.hp_carousel_slide_text,
                        cta: {
                            label: cta_label,
                            href: cta_url,
                        },
                        asset: {
                            type: 'img',
                            src: images,
                            alt: slide.hp_carousel_slide_desktop_image.alt
                        }
                    }])
                %}

            {% endfor %}


            {% include 'modules/m-carousel.twig' with {
                modifier: 'highlights',
                slides: slides
            }%}

        {% endif %}

        {# /HP CAROUSEL #}



        {# HP CARDS #}

        {% set latest = post.get_field('hp_latest') %}

        {% set latest_articles = latest.hp_latest_articles %}

        {% if latest_articles|length > 0 %}

            {% set cards = [] %}

            {% for card in latest_articles %}
                {% set asset = card.get_field('article_portrait_thumbnail') %}
                {% set cards = cards|merge([{
                    caption: card.get_field('article_category').name,
                    title: card.title,
                    excerpt: card.get_field('article_excerpt'),
                    cta: {
                        href: card.link,
                        label: null
                    },
                    asset: {
                        type: 'img',
                        src: [asset.url],
                        alt: asset.alt
                    }
                }]) %}
            {% endfor %}

            {% include 'modules/m-cards.twig' with {
                modifier: 'popular',
                header: {
                    title: latest.hp_latest_block_title,
                    cta: {
                        label: latest.hp_latest_block_title_cta_label,
                        href: latest.hp_latest_block_title_cta_url
                    },
                    animation: true
                },
                cards: cards
            } %}

        {% endif %}

        {# /HP CARDS #}


        {# HP BANNERS #}

        {% set banners = post.get_field('hp_banners') %}

        {% if banners|length > 0 %}

            {% set items = [] %}

            {% for item in banners %}

                {% set banner_images = [] %}

                {% if item.hp_banner_desktop_image.url %}
                    {% set banner_images = banner_images|merge([item.hp_banner_desktop_image.url]) %}
                {% endif %}

                {% if item.hp_banner_mobile_image.url %}
                    {% set banner_images = banner_images|merge([item.hp_banner_mobile_image.url]) %}
                {% endif %}

                {% set items = items|merge([{
                    title: item.hp_banner_title,
                    text: item.hp_banner_text,
                    asset: {
                        type: 'img',
                        src: banner_images,
                        alt: item.hp_banner_desktop_image.alt
                    },
                    cta: {
                        href: item.hp_banner_cta_url,
                        label: item.hp_banner_cta_label
                    }
                }]) %}
            {% endfor %}

            {% include 'modules/m-banners.twig' with {
                    modifier: 'highlights',
                    items: items
                }
            %}

        {% endif %}
        {# /HP BANNERS #}

        {% include 'partials/footer.twig' %}


    </div>

{% endblock %}
